.cor-par {
background-color: lightblue;
padding: 10px;
}

.cor-impar {
background-color: lightyellow;
padding: 10px;
}

.primeira {
font-weight: bold;
border: 3px solid blue;
}

.ultima {
border: 3px dashed red;
}
